ion-card {
  width: 225px;
  box-shadow: none;
  border: 1px solid #e1e1e1;
}

.backdrop {
  height: 54px;
  display: flex;
  background-color: #dbe7e9;

  .background-one {
    width: 170px;
    height: 100%;
    background-color: #a0b4b7;
  }

  .half-ellipse {
    border-radius: 0 100% 100% 0 / 50%;
    background-color: #a0b4b7;
    width: 3px;
    height: 100%;
  }

  .background-two {
    width: 27px;
    height: 100%;
    background-color: #dbe7e9;
  }

  .background-three {
    width: 25px;
    height: 100%;
    background-color: #bfb3d6;
  }
}

ion-card-header {
  margin-top: -54px;

  input[type="file"] {
    display: none;
  }

  ion-avatar {
    cursor: pointer;
    width: 72px;
    height: 72px;
    margin: auto;
    border: 2px solid var(--ion-color-primary-contrast);
    box-shadow: inset 0 0 0 10px var(--ion-color-primary-contrast);
  }
}

ion-card-content div {
  display: flex;
  justify-content: space-between;
}

.connections {
  margin-top: 8px;
}
